.Order__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 150px;
    width: 820px;

    >.Cart,
    .delete__cart {
        display: flex;
        gap: 10px;
    }

    >.delete__cart {
        color: #B6B6B6;
        cursor: pointer;
    }

    >.Cart {
        font-weight: 700;
    }
}
.pizza__right{
    display: flex;
    align-items: center;
    gap: 80px;

    >.Change__amount{
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
.Pizza {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    border-top: 1px solid #F4F4F4;

    >.Change__amount {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    >.Img__title_about {
        display: flex;
        align-items: center;
        gap: 10px;

        >img {
            width: 80px;
            height: 80px;
        }

        >.title__about p {
            font-size: 18px;
            font-weight: 400;
            color: #8D8D8D;
        }
    }

    .delete svg:hover {
        transition: all 0.3s ease;
        color: rgb(235, 89, 89) !important;
    }
}